:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}



/* Hide spinners on Chrome, Edge, Safari, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Hide spinners on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.show-scrollbar::-webkit-scrollbar {
  display: none;
}

@media (width >=768px
  /*  */
) {

  .show-scrollbar {
    scrollbar-width: thin;
    /* Firefox */
    scrollbar-color: #888 #f1f1f1;
    /* Firefox */
  }

  .show-scrollbar::-webkit-scrollbar {
    height: 44px;
    /* Horizontal scrollbar height */
  }

  .show-scrollbar::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  .show-scrollbar::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 6px;
  }
}

/* Custom scrollbar */


.show-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* Hide scrollbar buttons (arrows) */
.show-scrollbar::-webkit-scrollbar-button {
  display: none;
}

.bgPrimary {
  background-color: #e75c3a;
}

.heroBg {
  background: radial-gradient(circle at left top, #e75c3a60 15%, transparent 30%),
    radial-gradient(circle at left bottom, #f0907830 25%, transparent 60%),
    radial-gradient(circle at right bottom, #d13e2060 15%, transparent 60%);
}

.container {
  padding: 0px 12px;
}

.bgGlass {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

@import "tailwindcss";


.disableButton::before {
  content: "";
  width: 120%;
  height: 2px;
  border-top: solid 1px;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: -10%;
  transform: translate(-50%, -50%);
  -webkit-transform: rotate(-26.5deg);
  -moz-transform: rotate(-26.5deg);
  -ms-transform: rotate(-26.5deg);
  -o-transform: rotate(-26.5deg);
  /* transform: rotate(-26.5deg); */
}
.disableButton::after {
    right: -50px;
    content: "";
    width: 120%;
    height: 2px;
    border-top: solid 1px;
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -22%) rotate(26.5deg);
    -moz-transform: translate(-50%, -22%) rotate(26.5deg);
    -ms-transform: translate(-50%, -22%) rotate(26.5deg);
    -o-transform: translate(-50%, -22%) rotate(26.5deg);
    transform: translate(-50%, -22%) rotate(26.5deg);
}
