:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
}



/* Hide spinners on Chrome, Edge, Safari, Opera */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide spinners on Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.bgPrimary {
  background-color: #e75c3a;
}

.heroBg {
  background: radial-gradient(circle at left top, #e75c3a60 15%, transparent 30%),
    radial-gradient(circle at left bottom, #f0907830 25%, transparent 60%),
    radial-gradient(circle at right bottom, #d13e2060 15%, transparent 60%);
}

.container {
  padding: 0px 12px;
}

@import "tailwindcss";